/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */


 $bgColor: white; 
 $txtColor: black;
 $linkColor: blue;
 
 .message-body {
	 padding: 20px;
	 border-radius: 5px;
	 border: 1px solid #ccc;
	 background-color: $bgColor; 
	 color: $txtColor; 
	 text-align: center;
 
	 img {
		 margin-bottom: 10px;
		 width: 88px; 
		 height: 31px; 
	 }
 
	 p {
		 margin: 0;
		 font-size: 16px;
 
		 a {
			 color: $linkColor;
			 text-decoration: underline;
 
			 &:hover {
				 text-decoration: none;
			 }
		 }
	 }
 
	 .cc-cgb-name {
		 font-weight: bold;
	 }
 
	 .cc-cgb-text {
		 font-style: italic;
	 }
 }
 